@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600;800&display=swap');

*{
padding: 0;
margin: 0;
scroll-behavior: smooth;
box-sizing: border-box;
text-decoration: none;
list-style: none;
 scrollbar-gutter: stable 
}

body{

width: 100%;
max-height: 100%;
font-family: Montserrat, sans-serif;

}

header{
    background-color: rgba(255, 185, 0, 0.8);
    position: fixed;
 

}
.container-menu{
    width:100%;
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 1em;


}
.logo img{
    height: 2em;
    padding-top: 4px ;
}

.nav-links{
    display: flex;
}

.nav-links li{
    margin: 0 10px;
    width: 100%;
}

.links a{
    color: rgb(124, 54, 135);
    font-weight: 600 ;

}

.nav-bar{
    display: flex;
    padding-right: 15px;
}

.rrss{
    display: flex;
}

.rrss li{
    margin: 0 3px;
    margin-top: 3px;
    display: flex;
}
.hero-image{
width: 100%;
height: 1000px;
max-height: 1000px;
background-image: linear-gradient(
rgba(0,0,0,0.2), 
rgba(0,0,0,0.9)),
url(images/gozzo-1.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
text-align: center;
justify-content: center;
align-items: center
;
}

.hero-info h1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 6rem;
    letter-spacing: 5px;
    word-spacing: 5px;
    animation: animate 10s ease-in-out infinite

}

.hero-info p {
    color: white;
    font-weight: 200;
    font-size: 20px;

}

.btn-menu{
    display: none;
    background: transparent;
    border: none;
}

.links a:hover{
    color: black;
    transition: 200ms linear;
}

.songs-section{
    background-color: orange;

}
.container-songs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0;
}
.song{
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.song img{
    height: 100px;
    border-radius: 25px;
}

.songs-section h2{
padding: 5px 0 0 5px;

}

@media screen and (max-width: 728px) {

    .nav-links {
        display: block;

    }
 
}

@media screen and (max-width: 425px) {

    .song h1{
        left: 63%;
        font-size: 20px;
    }

    .song p{
        left: 71%;
        bottom: 25%
    }
    .btn-menu {
        display: block    
    }
    .nav-links {
        display: none 
    }
    .rrss {
        display: none }

    .hero-info h1{
        font-size: 3.5rem;
    }
    }

    @keyframes animate{
        0%{
            color:white;
        }
        20%{
            color:orange;
        }
        40%{
            color: purple;
        }
        60%{
            color:orange;
        }
        80%{
            color: white
        }
        100%{
            color: white
        }

    }
